/* main.css */

html, body {
    height: 100%; width: 100%;
    margin: 0; padding: 0;
}

#map {
    padding:0;
    border:solid 1px #343642;
    margin:5px 5px 5px 0px;
}

#leftPane {
    width:20%;
    border-top: solid 1px #343642;
    border-left: solid 1px #343642;
    border-bottom: solid 1px #343642;
    margin:5px 0px 5px 5px;
    color: #343642;
    font:100% Georgia,"Times New Roman",Times,serif;
    /*letter-spacing: 0.05em;*/
}/* CSS declarations go here */
